*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
        background-color:rgb(114, 141, 140)
}

.card{
    border: none;
}
.custom-card-header{
    background-color: rgb(68, 105, 98);
}
.custom-card-footer{
    background-color: rgb(68, 105, 98);
}
.card-body{
    padding: 25px;
    margin-top: -15px;
    background-color: rgb(22, 48, 32);
}
h3,p{
    color:whitesmoke;
}
h5,h6{
    color: black;
}
a{
    text-decoration:none;
    color: aliceblue;
    text-shadow: 2px;
    font-weight:600;
}