:root {
    --darkest-green:#2A4D38;
    --green1: #304D30;
    --green2: #446952;
    --green3: #6FAD6F;
    --green4: #7AB47A;
    --green5: #85A685;
    --green6: #B1D88F;
    --lightest-green: #B6C4B6;
}

@font-face {
    font-family: "Batangas";
    src: url("./Assests/Fonts/Batangas\ Bold\ 700.otf") format("truetype");
  }

  #baslik {
    font-family: 'Batangas', sans-serif;
    align-items: center;
  }
  body {
    overflow-x:hidden;
  }

  .card-img-top {
    border-radius: 30%;
    
  }
.card {
    margin-left: 40px;
}
.card-body {
  height: 100px;
}
.sizlan-container {
  margin: auto;
  max-width: 1500px;
  overflow-x:hidden;
}
.sizlan-container .card{
border: none;
margin-top: 20px;
width: 400px;
}
.sizlan-container .custom-card-header{
background-color: var(--green3);
}
.sizlan-container .custom-card-footer{
background-color: var(--green5);
}
.sizlan-container .card-body{
height: 210px;
padding: 25px;
margin-top: -15px;
background-color: rgb(22, 48, 32);
}

.sizlan-container h6,h3,p{
color:antiquewhite;
}
.sizlan-container h5{
color: black;
}

.sizlan-container a {
text-decoration:none;
color: var(--green4);
text-shadow: 2px;
font-weight:600;
}

.sizlan-container .card-button {
  font-size: 10px;
  width:200px;
  justify-content: space-between;
  padding: 10px;
}
.header {
    height: 80px;
    font-size: 40px;
    align-items: center;
    margin-left: 20px;
    padding: 20px;
  }

.list-group-item
{
    background-color: #85A685;
}
.card-button{
  background-color:var(--green4);
  width: auto!important;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 10px;
}