:root {
    --darkest-green:#2A4D38;
    --green1: #304D30;
    --green2: #446952;
    --green3: #6FAD6F;
    --green4: #7AB47A;
    --green5: #85A685;
    --green6: #B1D88F;
    --navbar: #EEF0E5;
    --lightest-green: #DDEDDD;
}

@font-face {
    font-family: "Batangas";
    src: url("./Assests/Fonts/Batangas\ Bold\ 700.otf") format("truetype");
  }

body {
    margin: 0;
    padding: 0;
    border: 0;
}
.sayac {
    display: block;
    background-color: var(--darkest-green);
    z-index: 2;
    width: 100%;
    height: 60px;
    padding: 10px;
}
.home {
    background-color: var(--lightest-green);
}

#searchInput {
    border-radius: 20%;
}
.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; 
    padding: 10px;
}

.search-input {
    padding: 10px;
    width: 60%;
    border: none;
    border-radius: 20px 0 0 20px;
    outline: none;
}

.search-button {
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 0 5px 5px 0;
    background-color: var(--green3);
    color: #fff;
    cursor: pointer;
    outline: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.search-button i {
    font-size: 16px;
}

section{
    height: 100vh;
    display: flex;
    background-color: var(--lightest-greeng);
    align-items: center;
  }

#diagram 
{
    width: 50%;
}

#Complain-Adam , #diagram{
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
}

.sitem_kutu.h1{
    color: #163020;
}
.sitem_kutu {
  background-color: #163020;
  color: #B6C4B6;
  width: 800px;
  height: 400px; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  border-radius: 8px; 
  padding: 50px;
}

.carousel-inner {
  display: flex;
  align-items: center;
  height: 100%;
}

.carousel-item {
  padding: 20px; 
}

.Sizlanmalar {
    background-color: var(--green2);
}


