:root {
    --darkest-green:#2A4D38;
    --green1: #304D30;
    --green2: #446952;
    --green3: #6FAD6F;
    --green4: #7AB47A;
    --green5: #85A685;
    --green6: #B1D88F;
    --lightest-green: #B6C4B6;
}
 body{
    margin: 0px;
    border: 0px;
    padding: 0px;
}
.col{
    background-color: greenyellow;
    border-color: greenyellow;
    width: 100%;
}

.navbar{
    height: 10vh;
    background-color:var(--green2); 
}
.counterBase{

    height: 10vh;
    color:var(--green3);
}


.navbar{
    background-color: #6FAD6F;
}
.container{
    width: 100%;
}
