:root {
    --darkest-green:#2A4D38;
    --green1: #304D30;
    --green2: #446952;
    --green3: #6FAD6F;
    --green4: #7AB47A;
    --green5: #85A685;
    --green6: #B1D88F;
    --navbar: #EEF0E5;
    --lightest-green: #DDEDDD;
  }
@font-face {
    font-family: "Batangas";
    src: url("./Assests/Fonts/Batangas\ Bold\ 700.otf") format("truetype");
  }

.nav-container
{
  position: sticky;
  display: block;
  overflow: visible;
  top: 0;
  height: auto;
  flex-direction: column;
  background-color: #dde1ca;
  z-index: 99;
}

.navbar-nav .nav-link{
    font-size: 28px;
    font-family: "Batangas";
    background-color: #446952;
    border: 2px solid #2A4D38;
    border-radius: 20px;
    color: #B1D88F;
  }

.navbar-nav {
    gap: 20px;
}

.navbar-logo {
    font-size: 36px;
    font-family: "Batangas";
    text-decoration: none;
    color: #2A4D38;
}

.profile-button
{
    border: 2px solid black;
    width: 36px;
}

#searchInput {
    border-radius: 20%;
}
.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; 
    padding: 10px;
}

.search-input {
    padding: 10px;
    width: 60%;
    border: none;
    border-radius: 20px 0 0 20px;
    outline: none;
}

.search-button {
    padding: 10px;
    border: 1px solid black;
    border-radius: 0 5px 5px 0;
    background-color: var(--green3);
    color: #fff;
    cursor: pointer;
    outline: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.search-button i {
    font-size: 16px;
}

.sizlan-container {
    margin: auto;
    max-width: 1300px;
    overflow-x:hidden;
}
.sizlan-container .card{
  border: none;
  margin: 10px;
}
.sizlan-container .custom-card-header{
  background-color: var(--green3);
}
.sizlan-container .custom-card-footer{
  background-color: var(--green5);
}
.sizlan-container .card-body{
  height: 210px;
  padding: 25px;
  margin-top: -15px;
  background-color: rgb(22, 48, 32);
}

.sizlan-container h6,h3,p{
  color:antiquewhite;
}
.sizlan-container h5{
  color: black;
}

.sizlan-container a {
  text-decoration:none;
  color: var(--green4);
  text-shadow: 2px;
  font-weight:600;
}

.sizlan-container .card-button {
    font-size: 10px;
    width:200px;
    justify-content: space-between;
    padding: 10px;
}

.card-button .btn {
    gap: 20px;
}
.card-button{
  background-color:var(--green4);
  width: auto!important;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 10px;
}